/* Styles */

body{
	background: #fff;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.portfolioImage img{
    float: right;
    height: 350px;
    border-radius: 50%;
}
.container{
	width: 80%;
	margin: 0 auto;
}

.footer {
    position: fixed;
    background: #111;
    color: #909999;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
    .ft-right{
        float: right;
        white-space: nowrap;
        overflow: hidden;
    }