/* Styles */

body{
	background: #eae7dc;
	font-family: verdana, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.container{
	margin: 0;
}

.aboutMe{
	background-color: #747474;
	height: 70vh;
	width: 95em;

}
	.aboutMeHeader{
		margin: 0;
		font-size: 2.5em;
		color: #FFFFFF;
		padding: 2em 2em 0em 2em;
		font-weight: bold;
	}

	.aboutMeContent{
		margin: 0;
		padding: 4em 0em 0em 8em;
		width: 70%;
	}

nav a{
	text-decoration: none;
	padding: 2em;
}


nav a:hover{
	background-color: #747474;
	color: #111;
}

nav{
    background: #111;
    padding: 1em 0em;
    width: 100%;
    min-width: 100em;
}

footer a{
	text-decoration: none;
	padding: 2em 2em 13px 2em;
}

footer a:hover{
	background-color: #eae7dc;
	color: #111;
}

footer a, nav a{
    color: #909999;
}

footer {
	background: #111;
	bottom: 0;
    padding: 2em 0em;
    width: 100%;
    min-width: 100em;
	margin-top: 2em;
	color: #909999;
}
	.ft-left{
		float: left;
	}
	.ft-right{
		float: right; 
	}

.grid-platform{
    margin: auto;
	padding-top: 5%;
	display: grid;
	grid-gap: 50px 100px;
	grid-template-columns: auto auto auto;
}

.grid-container{
    padding-top: 5%;
    margin: auto;
    width: 50%;
    text-align: center;
}
.skills {
	padding: 2em;
	width: 20em;
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.19);
	border-radius: 25px 25px;
	background-color: #747474
}
