@media only screen and (min-width: 2000px){
	body{
		font-size: .8vw;
	}
    
    .heroImage{
        @include backgroundBubbles(35s, -140vh);
    }
}

@media only screen and (max-width: 1024px){
    body{
        font-size: 18px;
	}
	
	.pageContainer {
		grid-template-areas:
			 "nav nav nav"
			 "hero hero hero"
			 "poxRaze poxRaze poxRaze "
			 "poxRazeDesc poxRazeDesc poxRazeDesc "
			 
			 "barberShop barberShop barberShop"
			 "barberShopDesc barberShopDesc barberShopDesc"
			  
			 "spaTemplate spaTemplate spaTemplate "
			 "spaTemplateDesc spaTemplateDesc spaTemplateDesc "

			 "razeEats razeEats razeEats "
			 "razeEatsDesc razeEatsDesc razeEatsDesc "

			 "jmRealty jmRealty jmRealty "
			 "jmRealtyDesc jmRealtyDesc jmRealtyDesc "

			 

			 "desc desc desc"

			 "contact contact contact"
			 "footer footer footer";
	}

	.heroImage{
		@include backgroundBubbles(35s, -130vh);
	}

	.portfolio{
		.project{
			img{
				width: 100%;
			}

			.razeEatsImg{
				width: 90%;
			}
		}
	}

    .portfolioDesc{
        .descBox{
			max-width: 50%;
			flex: 0 0 50%;
        }
    }

	.contactBackground{
		.contactForm{
			input, textarea{
				width: 90%;
			}
		}
    }
    
}

@media only screen and (max-width: 780px){
	body{
		font-size: 16px;
	}
	
	header{
		#menu-icon {
			display:block;
			width: 50px;
			height: 50px;
			margin: 1em;
		}

		nav{
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 4;
			top: 0;
			background-color: rgba(0,0,0, 0.9);
			transition: 1s;
			overflow-x: hidden;
			
			a{
				text-decoration: none;
				color: #818181;
				z-index: 5;
				display: block;
				transition: 0.7s;
			}

			ul{
				min-height: 100%;
                width: 100vw;
                @include flexCenter();
				flex-direction: column;
                text-align: center;

				a{
					font-size: 2em;
				}
				
				li{
					padding: 1em;
				}
			}
			
			.closeButton{
				display: block;
				font-size: 5em;
				position: absolute;
				right: 15%;
			}
		}
	}

	.heroImage{
		@include backgroundBubbles(35s, -130vh);
		height: 100vh;
		
		.overViewBackground{
			.overView{
				height: 100vh;
			}
		}
	}

	.description{
		.descContainer{
			.descContent{
				width: 100%;
			}
		}
	}
	
}

@media only screen and (max-width: 500px){
    body{
        font-size: 14px;
	}

	.description{
		.descContainer{
			.descContent{
				margin: 2em 0;
				padding: 1em;
			}
		}
	}

	.portfolio{
		.project{
			.container{
				span{
					font-size: 2.5em;
				}
			}
		}
	}

	.portfolioDesc{
		.descBox{
			flex: 0 0 100%;
			max-width: 100%;

			p{
				text-align: center;
			}
		}
	}

	.contactBackground{
		width: 100%;
		h2{
			font-size: 2.5em;
		}
	}
	
	footer{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1em;

		.footerLeft{
			flex: 0 0 100%;
			padding: 1em 0;
		}

		.footerRight{
			align-content: unset;
		}
	}
}

@media only screen and (max-width: 320px){
	body{
		font-size: 10px;
	}

	footer{
		flex-direction: column;
	}
}

@media only screen and (max-width: 780px) and (orientation : landscape){

	.portfolioDesc{
		.descBox{
			box-shadow:none ;
		}
	}
}