//-----------------------------------------------------------COLORS-------------------------------------------------------------------------------
$primaryColor: #F7F7F7;
$secondaryColor: #497478;
$tertiaryColor: darken($color: $secondaryColor , $amount: 15%);
$fourthColor: #333333; //#273d4a;
//---------------------------------------------------------------------------------------------------------------------------------------------------------

$randomSquare: (random(5) + 5)+em;

//---------------------------------------------MIXINS-------------------------------------------------------------
@mixin scrollAnchor() {
	font-size: 2rem;
	text-decoration: none;
	
	position: absolute;
	bottom: 10%;
		right: 0;
		left: 0;
	margin: auto;
    color: $primaryColor;
    width: 1.56em;
    padding: .32em;
    transition: box-shadow 1s, color 1s ease-in-out, background-color 1s ease-in-out;
	
		i{
			-webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
			animation: pulsate-fwd 2s ease-in-out infinite both;
			@-webkit-keyframes pulsate-fwd {
				0% {
					-webkit-transform: scale(1);
							transform: scale(1);
					}
					50% {
					-webkit-transform: scale(1.3);
							transform: scale(1.3);
					}
					100% {
					-webkit-transform: scale(1);
							transform: scale(1);
					}
			}
					
			@keyframes pulsate-fwd {
					0% {
					-webkit-transform: scale(1);
							transform: scale(1);
					}
					50% {
					-webkit-transform: scale(1.3);
							transform: scale(1.3);
					}
					100% {
					-webkit-transform: scale(1);
							transform: scale(1);
					}
			}
		}
    
    &:hover{
        background: $primaryColor;
		color: $secondaryColor;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@mixin anchorButton(){
	padding: 1em;
	margin: 0 1em;
	background: none;//$secondaryColor;
	border: 2px solid $secondaryColor;
	display: inline-block; 
	color: $secondaryColor;
	text-decoration: none;
	transition: all .5s;

    &:hover{
		background: $secondaryColor;
		color: $primaryColor;
		box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
		transform: scale(.95);
	}
}

@mixin flexCenter(){
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

@mixin backgroundBubbles($duration, $animationHeight) {
	ul{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -99;
		overflow: hidden;
		

		li{
			position: absolute;
			list-style: none;
			display: block;
			width: 3em;
			height: 3em;
			background: lighten($color: $secondaryColor , $amount: 15%);
			bottom: -3em;
			animation: float $duration  ease-in-out alternate infinite 0s, blob $duration ease-in-out alternate infinite 0s;
			
			-webkit-transition-timing-function: ease-in;
			transition-timing-function: ease-in;

			

			@for $i from 7 to 13 {
				&:nth-child(#{$i}){
					left: percentage(random(100) / 100);
					height: (random(5) + 4)+em;
					width: (random(5) + 4)+em;
					bottom: -9em;
					animation: float $duration  ease-in-out alternate infinite 0s, blob2 $duration ease-in-out alternate infinite 0s;
					animation-delay: random(12)-2s;
					
				}
			}

			@for $i from 15 through 21{
				&:nth-child(#{$i}){
					left: percentage(random(100) / 100);
					height: (random(5) + 4)+em;
					width: (random(5) + 4)+em;
					bottom: -9em;
					animation: float $duration  ease-in-out alternate infinite 0s, blob3 $duration ease-in-out alternate infinite 0s;
					animation-delay: random(12)-2s;
					
				}
			}

			&:nth-child(1){
				left: 5%;
				animation-delay: 7s;
			}
			
			&:nth-child(2){
				left: 20%;
				width: 5em;
				height: 5em;
				bottom: -5em;

				animation-delay: 3s;
				animation-duration: $duration - 7;
			}
			
			&:nth-child(3){
				left: 25%;
				animation-delay: 5s;
			}
			
			&:nth-child(4){
				left: 90%;
				width: 3.75em;
				height: 3.75em;
				
				bottom: -3.75em;
				animation-duration: $duration - 5;
			}
			
			&:nth-child(5){
				left: 55%;
			}
			
			&:nth-child(6){
				left: 70%;
				width: 7.5em;
				height: 4.5em;

				bottom: -4.5em;
				animation-delay: 3s;
			}
			
			&:nth-child(7){
				left: 32%;
				width: 5.75em;
				height: 7.75em;
				bottom: -7.75em;
				animation-delay: 7s;

			}
			
			&:nth-child(8){
				left: 15%;
				width: 20px;
				height: 20px;
				bottom: -20px;
				animation-delay: 15s;
				animation-duration: $duration + 10;
			}
			
			&:nth-child(9){
				left: 25%;
				width: 25px;
				height: 20px;
				bottom: -20px;
				animation-delay: 2s;
				animation-duration: $duration - 4;
			}
			
			&:nth-child(10){
				left: 80%;
				width: 4em;
				height: 6em;
				bottom: -6em;
				animation-delay: 9s;
			}

			&:nth-child(11){
				left: 45%;
				width: 7em;
				height: 8em;
				bottom: -8em;
				animation-duration: $duration + 20;
				animation-delay: 20s;
			}
			
			&:hover{
				cursor: pointer;
			}
		}
		
	}

	@keyframes float {
		0%   { 
			transform: translateY(0);
		}
		100% { 
			transform: translateY($animationHeight) rotate(250deg); 
		}
	}
	
	@keyframes blob {

		0%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		20%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		
		}

		40%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		60%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		80%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		100%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
	}

	@keyframes blob2 {

		0%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		20%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		
		}

		40%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		60%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		80%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		100%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
	}

	@keyframes blob3 {
		0%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		20%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		
		}

		40%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
		
		60%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		80%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}

		100%{
			border-top-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-top-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-left-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
			border-bottom-right-radius: percentage((random(90) + 20)  / 100)  percentage((random(90) + 20)  / 100);
		}
	}
}

@mixin h2 {
	color: $secondaryColor;
	font-size: 3em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

//-------------------------------------------------------------------------------------------------------------------------------------
