@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-snap-align: start;
}

body, html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Bitter', sans-serif;
  font-size: 18px;
  background: #F7F7F7;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
      grid-template-areas: "nav nav nav nav" "hero hero hero hero" "desc desc desc desc" "portfolio portfolio portfolio portfolio" "portfolioDesc portfolioDesc portfolioDesc portfolioDesc" "skill skill skill skill"  "contact contact contact contact" "footer   footer   footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  z-index: 3;
  position: absolute;
}

header #menu-icon {
  display: none;
  z-index: 1;
  background: url("../Images/Hamburger.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

header nav, header .sticky {
  padding: 1em 0;
  width: 100%;
  overflow: hidden;
}

header nav .closeButton, header .sticky .closeButton {
  display: none;
}

header nav li, header nav ul, header .sticky li, header .sticky ul {
  display: inline;
  list-style: none;
}

header nav ul li, header .sticky ul li {
  padding: 0 1em;
}

header nav ul a, header .sticky ul a {
  text-decoration: none;
  color: #F7F7F7;
  font-weight: 900;
  font-size: 1.3em;
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

header nav ul a:hover, header .sticky ul a:hover {
  border-bottom: solid #F7F7F7 0.1em;
}

header .sticky {
  position: fixed;
  background: #497478;
}

.heroImage {
  height: 100vh;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
  z-index: 1;
  background: #497478;
}

.heroImage ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.heroImage ul li {
  position: absolute;
  list-style: none;
  display: block;
  width: 3em;
  height: 3em;
  background: #699fa4;
  bottom: -3em;
  -webkit-animation: square 30s infinite 0s;
  animation: square 30s infinite 0s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.heroImage ul li:nth-child(1) {
  left: 5%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.heroImage ul li:nth-child(2) {
  left: 20%;
  width: 5em;
  height: 5em;
  bottom: -5em;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
}

.heroImage ul li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.heroImage ul li:nth-child(4) {
  left: 90%;
  width: 3.75em;
  height: 3.75em;
  bottom: -3.75em;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

.heroImage ul li:nth-child(5) {
  left: 55%;
}

.heroImage ul li:nth-child(6) {
  left: 70%;
  width: 7.5em;
  height: 7.5em;
  bottom: -7.5em;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.heroImage ul li:nth-child(7) {
  left: 32%;
  width: 8.75em;
  height: 8.75em;
  bottom: -8.75em;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.heroImage ul li:nth-child(8) {
  left: 15%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}

.heroImage ul li:nth-child(9) {
  left: 25%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
}

.heroImage ul li:nth-child(10) {
  left: 80%;
  width: 10em;
  height: 10em;
  bottom: -10em;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.heroImage ul li:nth-child(11) {
  left: 45%;
  width: 8em;
  height: 8em;
  bottom: -8em;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-125vh) rotate(250deg);
            transform: translateY(-125vh) rotate(250deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-125vh) rotate(250deg);
            transform: translateY(-125vh) rotate(250deg);
  }
}

.heroImage .overViewBackground {
  grid-area: overView;
  pointer-events: none;
}

.heroImage .overViewBackground .overView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-attachment: fixed;
  height: 100vh;
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
}

.heroImage .overViewBackground .overViewHeader {
  font-size: 5em;
  font-weight: bolder;
  pointer-events: visible;
}

.heroImage .overViewBackground .overViewHeader span {
  padding: 0;
  letter-spacing: 1px;
  -webkit-transition: background-color 1.2s, color 1s;
  transition: background-color 1.2s, color 1s;
}

.heroImage .overViewBackground .overViewHeader span:hover {
  background-color: #F7F7F7;
  color: #497478;
}

.heroImage .overViewBackground .overViewContent {
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
  pointer-events: visible;
}

.heroImage .overViewBackground .overViewContent span:hover {
  border-bottom: solid #F7F7F7 0.05em;
}

.heroImage .overViewBackground .scrollAnchor {
  pointer-events: visible;
}

.heroImage .scrollAnchor {
  font-size: 2rem;
  text-decoration: none;
  -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
  animation: pulsate-fwd 2s ease-in-out infinite both;
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  color: #F7F7F7;
  width: 1.56em;
  padding: .32em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.heroImage .scrollAnchor:hover {
  background: #F7F7F7;
  color: #497478;
}

.description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: desc;
  font-weight: 500;
}

.description .descContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description .descContainer .descContent {
  padding: 2em;
  margin: auto;
  width: 70%;
  display: -ms-grid;
  display: grid;
}

.description .descContainer .descContent h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: .5em 0 0;
}

.description .descContainer .descContent p {
  font-weight: 100;
  line-height: 1.5em;
  margin: 0 0 1em;
}

.description .descContainer .descContent p:nth-child(2) {
  font-size: 1.5em;
  font-weight: 600;
  color: #5c9398;
}

.description a {
  padding: 1em;
  margin: 0 1em;
  border: solid .32em transparent;
  background: #497478;
  display: inline-block;
  color: #F7F7F7;
  text-decoration: none;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  margin: auto;
}

.description a:hover {
  background: #699fa4;
  border-color: #497478;
  border: solid 0.32em #497478;
}

.portfolio {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: portfolio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .project {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: auto;
  width: 100%;
}

.portfolio .project img {
  width: 50%;
  display: block;
  margin: 5em auto auto;
  height: auto;
}

.portfolio .project .container {
  text-align: center;
}

.portfolio .project .container span {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.portfolio .project .container p {
  font-size: 1.25em;
  margin: 0 0 1em;
}

.portfolio .project .container a {
  padding: 1em;
  margin: 0 1em;
  border: solid .32em transparent;
  background: #497478;
  display: inline-block;
  color: #F7F7F7;
  text-decoration: none;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.portfolio .project .container a:hover {
  background: #699fa4;
  border-color: #497478;
  border: solid 0.32em #497478;
}

.portfolioDesc {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: portfolioDesc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em 0;
  padding: 2em 0;
}

.portfolioDesc .descContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolioDesc .descBox {
  padding: 1em;
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: center;
  background: #497478;
}

.portfolioDesc .descBox i {
  font-size: 3em;
  display: block;
}

.portfolioDesc .descBox h3 {
  color: white;
  display: inline-block;
  border-bottom: solid 0.1em #699fa4;
}

.portfolioDesc .descBox p {
  text-align: start;
  color: #F7F7F7;
}

.portfolioDesc .descBox:nth-child(1), .portfolioDesc .descBox:nth-child(3) {
  background: #F7F7F7;
}

.portfolioDesc .descBox:nth-child(1) h3, .portfolioDesc .descBox:nth-child(3) h3 {
  color: #497478;
}

.portfolioDesc .descBox:nth-child(1) p, .portfolioDesc .descBox:nth-child(3) p {
  color: #497478;
}

.contactBackground {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
  position: relative;
  background-color: #497478;
  min-height: 60vh;
  text-align: center;
  width: 100%;
  margin: 2em auto 0;
  padding: 3em 2em;
}

.contactBackground h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  line-height: 15vh;
  color: #F7F7F7;
}

.contactBackground .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.contactBackground .contactForm input, .contactBackground .contactForm textarea {
  background-color: #F7F7F7;
  padding: 1em;
  margin: 1em;
  width: 50%;
  border: none;
  color: #497478;
  font-size: 1em;
}

.contactBackground .contactForm input:focus, .contactBackground .contactForm textarea:focus {
  outline: none;
  border: 4px solid #699fa4;
}

.contactBackground .contactForm textarea {
  height: 10em;
}

.contactBackground .scrollAnchor {
  font-size: 2rem;
  text-decoration: none;
  -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
  animation: pulsate-fwd 2s ease-in-out infinite both;
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  color: #F7F7F7;
  width: 1.56em;
  padding: .32em;
  -webkit-transition: all 1s;
  transition: all 1s;
  bottom: -0em;
  right: 90%;
  left: 0;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.contactBackground .scrollAnchor:hover {
  background: #F7F7F7;
  color: #497478;
}

.skillBackground {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: skill;
  width: 90%;
  margin: auto;
  text-align: center;
  min-height: 50vh;
}

.skillBackground h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}

.skillBackground .skillGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  height: 100%;
}

.skillBackground .skillGrid .skillContainer {
  text-align: center;
}

.skillBackground .skillGrid .skills {
  padding: 1em;
  margin: 0 0 1em;
}

.skillBackground .skillGrid .skills img {
  height: 96px;
  width: 96px;
}

.skillBackground .skillGrid .skills h3 {
  color: #497478;
  font-weight: 100;
}

footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: #497478;
  color: #F7F7F7;
  padding: 0 2em;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
}

footer .footerLeft, footer .footerMiddle, footer .footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footerLeft a, footer .footerMiddle a, footer .footerRight a {
  font-weight: 100;
}

footer .footerRight {
  text-align: center;
}

footer .footerRight li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 .5em;
}

footer .footerRight li:nth-child(1) {
  display: block;
}

footer span {
  border-bottom: solid 2px #273d4a;
}

footer li {
  list-style: none;
  padding: .5em 0;
}

footer li:nth-child(1) {
  padding: unset;
  padding: .5em 0;
  font-weight: bolder;
}

footer a {
  color: unset;
  margin: auto;
}

footer i {
  font-size: 2em;
}

@media only screen and (min-width: 2000px) {
  body {
    font-size: .8vw;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -3em;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    bottom: -3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 45%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .pageContainer {
        grid-template-areas: "nav nav nav" "hero hero hero" "desc desc desc" "portfolio portfolio portfolio" "portfolioDesc portfolioDesc portfolioDesc" "skill    skill skill" "contact contact contact" "footer   footer footer";
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -3em;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    bottom: -3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 45%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  .portfolio .project img {
    width: 75%;
  }
  .portfolioDesc .descBox {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .contactBackground .contactForm input, .contactBackground .contactForm textarea {
    width: 90%;
  }
  .skillBackground {
    width: 90%;
  }
  .skillBackground .skillGrid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .skillBackground .skillGrid .skills img {
    height: 64px;
    width: 64px;
  }
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 16px;
  }
  header #menu-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 1em;
  }
  header nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 1s;
    transition: 1s;
    overflow-x: hidden;
  }
  header nav a {
    text-decoration: none;
    color: #818181;
    display: block;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header nav ul {
    min-height: 100%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header nav ul a {
    font-size: 2em;
  }
  header nav ul li {
    padding: 1em;
  }
  header nav .closeButton {
    display: block;
    font-size: 5em;
    position: absolute;
    right: 5%;
  }
  header nav .sticky {
    all: unset;
  }
  .heroImage {
    height: 100vh;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -3em;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    bottom: -3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 45%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  .heroImage .overViewBackground .overView {
    height: 100vh;
  }
  .description .descContainer .descContent {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -3em;
    -webkit-animation: square 30s infinite 0s;
    animation: square 30s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 23s;
            animation-duration: 23s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    bottom: -3.75em;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 26s;
            animation-duration: 26s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 45%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
  .description .descContainer .descContent {
    margin: 2em 0;
    padding: 1em;
  }
  .portfolio .project img {
    width: 90%;
  }
  .portfolio .project .container span {
    font-size: 2.5em;
  }
  .portfolioDesc .descBox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .contactBackground {
    width: 100%;
  }
  .contactBackground h2 {
    font-size: 2.5em;
  }
  .skillBackground {
    width: 100%;
  }
  footer {
    padding: unset;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
  footer {
    padding: unset;
  }
}
/*# sourceMappingURL=styles.css.map */