$primaryColor: #F7F7F7;
$secondaryColor: #7fb0a6;
$tertiaryColor: #000000;
// the next ones quaternary if you were curious but i thought that might be confusing so im just using fourth.
$fourthColor: #202020;

@mixin scrollAnchor() {
	font-size: 2em;
	text-decoration: none;
	-webkit-animation: wobble 1.7s steps(5, end) infinite;
			animation: wobble 1.7s steps(5, end) infinite;
	position: absolute;
	bottom: 5%;
	right: 5%;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	margin: 0 auto;
	color: $primaryColor;

	@-webkit-keyframes wobble {
		0%,
		100% {
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
				transform: translateX(-30px) rotate(-6deg);
		}
		30% {
		-webkit-transform: translateX(15px) rotate(6deg);
				transform: translateX(15px) rotate(6deg);
		}
		45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
				transform: translateX(-15px) rotate(-3.6deg);
		}
		65% {
			-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		75% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}
	}
	
	@keyframes wobble {
		0%,
		100% {
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
				transform: translateX(-30px) rotate(-6deg);
		}
		30% {
		-webkit-transform: translateX(15px) rotate(6deg);
				transform: translateX(15px) rotate(6deg);
		}
		45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
				transform: translateX(-15px) rotate(-3.6deg);
		}
		65% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}
		75% {
			-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
	}

	&:hover{
		animation: none;
	}
	
}

@import url('https://fonts.googleapis.com/css?family=Bitter');

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body,html{
	height:100%;
}

body{
	position: relative;
	font-family: 'Bitter', sans-serif;
	font-size: 16px;
	background: $primaryColor;
}

.pageContainer {
	display: grid;
	position: relative;
	grid-template-columns: 10% auto 10%;
	grid-template-areas:
		 "nav nav nav nav"
		 "hero hero hero hero"
		 "desc desc portfolio portfolio"
		 "contact contact contact contact"
		 "skill    skill     skill skill"
		 "footer   footer   footer footer";
	
	.scrollAnchor{
		@include scrollAnchor();
	}
}

header{
	grid-area: nav;
	padding: 2rem 0rem;
	z-index: 3;
	position: absolute;
	-webkit-text-stroke-width: 0;
	   -webkit-text-stroke-color: black;

	#menu-icon {
		display: none;
		background-color: #f9f9f9;
		z-index: 1;
		background: url("../Images/Hamburger.png") center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	nav{
		
		.closebutton{
			display: none;
		} 

		li, ul{
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul{
			a{
				text-decoration: none;
				padding: 2rem;
				color: $primaryColor;
				text-shadow: 1px 1px 1px #000;
				font-weight: 900;
				font-size: 1.3em;
				transition: font-size 1s;
			}

			a:hover{
				font-size: 1.5rem;
			}
		}
			
	}
}

// Contains overview and hero image section.
.heroImage{
	height: 50vh;
	position: relative;
	grid-area: hero;
	background-color: $secondaryColor;
	z-index: 2;
	
	.overViewBackground{
		grid-area: overView;
		.overView{
			display: flex;
			flex-direction:column;
			justify-content: center;	
			text-align: center;
			background-attachment: fixed;
			height: 50vh;
			color: $primaryColor;
			text-shadow: 1px 1px 1px #000;
		}

		.overViewHeader{
			font-size: 6rem;
			font-weight: bolder;
		}

		.overViewContent{
			font-size: 2rem;
			font-style: italic;
			font-weight: 100;
		}
	}
}

.description{
	grid-area: desc;
	font-weight: 500;
	min-height: 50vh;
	
	h2{
		font-size: 3.5em;
		font-weight: bolder;
		color: $secondaryColor;
	}
	
	p{
		font-size: 1.5rem;
		color: $fourthColor;
		font-weight: 200;
	}

	.descContainer{
		padding: 2rem;
		height: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;

		.descContent{
			padding: 2rem;
			text-align: center;
			display: grid;
			background: #fff;
			box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
			min-height: 40vh;
			margin: 5rem;

			p:nth-child(3){
				font-size: 1rem;
				line-height: 2rem;
				font-weight: 100;
			}
		}	

		.descContent:nth-child(2){
			grid-area: Skills;
		}
	}

	a{
		color: $secondaryColor;
		font-size: 1.5rem;
		font-weight: bolder;
	}
}

.portfolio{
	grid-area: portfolio;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	.project{
		transition: 0.3s;
		margin: auto;
		width: 80%;
		
		img{
			padding: 2em;
			display: block;
			width: 100%;
			height: auto;
		}
		
		.container{
			text-align: center;
			span{
				color: $secondaryColor;
				font-size: 3.5em;
				font-weight: 900;
			}

			p{
				color: #333333;
				font-size: 1.25em;
			}
			button{
				border: none;
				padding: 1em;
				margin: .5em;
				background: $secondaryColor;
				font-size: 100%;
				box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
				a{	
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

.contactBackground{
	grid-area: contact;
	background-color: $secondaryColor;
	height: 60vh;
	-webkit-clip-path: polygon(0 0, 100% 21%, 100% 82%, 0% 100%);
	clip-path: polygon(0 0, 100% 21%, 100% 82%, 0% 100%);
	text-align: center;

	h2{
		font-size: 3.5em;
		font-weight: bolder;
		line-height: 30vh;
		color: $primaryColor;
	}

	.contactForm{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;

		input, textarea{
			background-color: $primaryColor;
			padding: 1em;
			margin: 1em;
			width: 90%;
			border: none;
			color: #165C4E;
			font-size: 1em;
		}

		textarea{
			height: 10em;
			width: 25em;
		}
	}
}

.skillBackground{
	grid-area: skill;

	.skillGrid{
		display: grid;
		grid-gap: 2em;
		grid-template-columns: auto auto auto auto;
		width: 75%;
		margin: auto;
		background: url("../Images/tiny_grid.png");
		box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.14);
		min-height: 100vh;

		.skillContainer{
			text-align: center;
		}

		.skills {
			padding: 2em;
			
			img {
				height: 96px;
				width: 96px;
			}

			h3{
				color: $secondaryColor;
			}
		}

		#moreAbove{
			bottom: 5%;
			color: #000000;
		}	
	}
}

footer{
	background: $fourthColor;
	color: $secondaryColor;
	grid-area: footer;
	padding: 2em 0em;
	
	.ft-left{
		float: left;
		width: 100%;
		
		.ft-right{
			float: right; 
		}
	}
	
	a{
		color: $secondaryColor;
		padding: 2em;
		text-decoration: none;
	}
}

@media only screen and (min-width: 2000px){
	body{
		font-size: 1vw;
	}

	header{
		padding: 2em 0em;
		nav{
			a{
				padding: 2em;
			}
	
			a:hover{
				font-size: 1.5em;
			}
		}
	}
	
	.overViewBackground{
		.overViewHeader{
			font-size: 5em;
		}
	
		.overViewContent{
			font-size: 2em;
		}
	}
	
	.description{
		h2{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			padding: 2em;
	
			.descContent{
				padding: 2em;
				min-height: 50vh;
				margin: 4rem;
	
				p:nth-child(3){
					font-size: 1em;
					line-height: 2em;
				}
			}
		}
	}
	
	.portfolio{
		.project{
			.container{
				span{
					font-size: 3.5em;
				}
	
				p{
					font-size: 1.25em;
				}
			}
		}
	}
	
	
	.skillBackground{
		.skillGrid{
			.skills {
				padding: 2em;
				
				img {
					height: 120px;
					width: 120px;
				}
			}
		}
	}

	footer{
		img{
			height: 96px;
			width: 96px;
		}
	}
}

@media only screen and (max-width: 1600px){
	
	body{
		font-size: 16px;
	}

	.overViewBackground{
		.overViewHeader{
			font-size: 5em;
		}
	
		.overViewContent{
			font-size: 2em;
		}
	}
	
	.description{
		h2{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			.descContent{
				margin: 3em;
				min-height: 50vh;
				p:nth-child(3){
					line-height: 2rem;
				}
			}
		}
	}
	
	.portfolio{
		.project{
			width: 100%;
			.container{
				p{
					color: #333333;
					font-size: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px){
	
	.heroImage{
		height: 100vh;
		.overViewBackground{
			.overView{
				height: 100vh;
			}
		}
	}
	
	.pageContainer {
		grid-template-areas:
			 "nav nav nav"
			 "hero hero hero"
			 "desc desc desc"
			 "portfolio portfolio portfolio"
			 "contact contact contact"
			 "skill    skill skill"
			 "footer   footer footer";
	}

	.description{
		h2{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			padding: 1.5rem;
			text-align: center;

			.descContent{
				padding: 1.5rem;
				margin: 3rem;
				p:nth-child(3){
					line-height: 2rem;
				}
			}
		}
	}
	
	.portfolio{
		.project{
			width: 70%;
			.container{
				padding: 3em;
				span{
					font-size: 3.5em;
				}
			}
		}
	}

	.contactBackground{
		-webkit-clip-path: none;
		clip-path: none;
		height: unset;
		min-height: 60vh;

		.contactForm{
			flex-direction: column;
			input, textarea{
				width: 90%;
			}
		}
		
	}
	

	.skillBackground{
		.skillGrid{
			grid-template-columns: auto auto;
			width: 90%;

			.skills {
				img {
					height: 64px;
					width: 64px;
				}
			}
		}
	}
	
}

@media only screen and (max-width: 780px){
	body{
		font-size: 13px;
	}
	
	header{
		#menu-icon {
			display:block;
			width: 50px;
			height: 50px;
			padding-left: 8em;
		}

		nav{
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 4;
			top: 0;
			background-color: rgba(0,0,0, 0.9);
			transition: 0.7s;
			overflow-x: hidden;
			
			a{
				padding: 1rem 2rem;
				text-decoration: none;
				color: #818181;
				display: block;
				transition: 0.7s;
			}

			ul{
				position: relative;
				display: block;
				top: 15%;
				width: 100%;
				text-align: center;
				margin-top: 30px;

				a{
					font-size: 2em;
				}

				a:hover{
					font-size: 2.5em;
				}
			}
			
			.closebutton{
				display: block;
				font-size: 5em;
				position: absolute;
				right: 5%;
			}
		}
	}

	.heroImage{
		.overViewBackground{
			.overViewHeader{
				font-size: 5em;
			}
		
			.overViewContent{
				font-size: 1.5em;
			}
		}
	}

	.description{
		.descContainer{
			padding: 1rem;
			.descContent{
				margin: 2rem;
				min-height: 400px;
			}
		}
	}
}

@media only screen and (max-width: 500px){
	.heroImage{
		.overViewBackground{
			.overViewHeader{
				font-size: 3em;
			}
		
			.overViewContent{
				font-size: 1.25em;
			}
		}
	}

	.description{
		.descContainer{
			padding: 0;
			h2{
				font-size: 2.5em;
			}

			p{
				font-size:1.25em;
			}
			.descContent{
				margin: 5rem 0;
				border-radius: 0%;

				p:nth-child(3){
					font-size: 1rem;
					line-height: 1.5rem;
				}
			}
		}
	}

	.portfolio{
		.project{
			width: 100%;
			.container{
				padding: 3em 0;
				span{
					font-size: 2.5em;
				}
			}
		}
	}

	.contactBackground{
		h2{
			font-size: 2.5em;
			line-height: 15vh;
		}
	}

	.skillBackground{
		.skillGrid{
			width: 100%;
		}
	}

	footer{
		padding: 2em 0em;

		a{
			padding: .5em;
			text-decoration: none;
			transition: font-size 1s;	
		}
	}	
}