@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Bitter', sans-serif;
  font-size: 18px;
  background: #F7F7F7;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
      grid-template-areas: "nav nav nav nav" "hero hero hero hero" "desc desc desc desc" "portfolioDesc portfolioDesc portfolio portfolio" "skill    skill     skill skill"  "contact contact contact contact" "footer   footer   footer footer";
}

.pageContainer .scrollAnchor {
  font-size: 32px;
  text-decoration: none;
  -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
  animation: pulsate-fwd 2s ease-in-out infinite both;
  position: absolute;
  bottom: 5%;
  right: 50%;
  border-radius: 100%;
  margin: 0 auto;
  color: #F7F7F7;
  width: 53px;
  padding: 8px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pageContainer .scrollAnchor:hover {
  background: #F7F7F7;
  color: #497478;
  border-radius: 40px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  padding: 2em 0em;
  z-index: 3;
  position: absolute;
}

header #menu-icon {
  display: none;
  z-index: 1;
  background: url("../Images/Hamburger.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

header nav .closeButton {
  display: none;
}

header nav li, header nav ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  padding: 1em;
}

header nav ul a {
  text-decoration: none;
  color: #F7F7F7;
  font-weight: 900;
  font-size: 1.3em;
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
}

header nav ul a:hover {
  border-bottom: solid #F7F7F7 0.1em;
}

.heroImage {
  height: 100vh;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
  z-index: 1;
  background: #497478;
}

.heroImage ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  overflow: hidden;
}

.heroImage ul li {
  position: absolute;
  list-style: none;
  display: block;
  width: 3em;
  height: 3em;
  background: #699fa4;
  bottom: -15vh;
  -webkit-animation: square 35s infinite 0s;
  animation: square 35s infinite 0s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.heroImage ul li:nth-child(1) {
  left: 5%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.heroImage ul li:nth-child(2) {
  left: 20%;
  width: 5em;
  height: 5em;
  bottom: -5em;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}

.heroImage ul li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.heroImage ul li:nth-child(4) {
  left: 90%;
  width: 3.75em;
  height: 3.75em;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}

.heroImage ul li:nth-child(5) {
  left: 55%;
}

.heroImage ul li:nth-child(6) {
  left: 70%;
  width: 7.5em;
  height: 7.5em;
  bottom: -7.5em;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.heroImage ul li:nth-child(7) {
  left: 32%;
  width: 8.75em;
  height: 8.75em;
  bottom: -8.75em;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.heroImage ul li:nth-child(8) {
  left: 15%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.heroImage ul li:nth-child(9) {
  left: 25%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
}

.heroImage ul li:nth-child(10) {
  left: 80%;
  width: 10em;
  height: 10em;
  bottom: -10em;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.heroImage ul li:nth-child(11) {
  left: 90%;
  width: 8em;
  height: 8em;
  bottom: -8em;
  -webkit-animation-duration: 55s;
          animation-duration: 55s;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-120vh) rotate(250deg);
            transform: translateY(-120vh) rotate(250deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-120vh) rotate(250deg);
            transform: translateY(-120vh) rotate(250deg);
  }
}

.heroImage .overViewBackground {
  grid-area: overView;
  pointer-events: none;
}

.heroImage .overViewBackground .overView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-attachment: fixed;
  height: 100vh;
  color: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
}

.heroImage .overViewBackground .overViewHeader {
  font-size: 5em;
  font-weight: bolder;
  pointer-events: visible;
}

.heroImage .overViewBackground .overViewHeader span {
  padding: 0;
  letter-spacing: 1px;
  -webkit-transition: background-color 1.2s, color 1s;
  transition: background-color 1.2s, color 1s;
}

.heroImage .overViewBackground .overViewHeader span:hover {
  background-color: #F7F7F7;
  color: #497478;
}

.heroImage .overViewBackground .overViewContent {
  font-size: 2em;
  font-style: italic;
  font-weight: 100;
}

.heroImage .overViewBackground .scrollAnchor {
  pointer-events: visible;
}

.description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: desc;
  font-weight: 500;
}

.description .descContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description .descContainer .descContent {
  padding: 2em;
  margin: auto;
  width: 90%;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.description .descContainer .descContent h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.description .descContainer .descContent p {
  font-weight: 100;
  line-height: 1.5em;
}

.description .descContainer .descContent p:nth-child(2) {
  font-size: 1.5em;
  font-weight: 600;
  color: #5c9398;
}

.description a {
  padding: 1em;
  margin: 0 1em;
  background: #497478;
  display: inline-block;
  color: #F7F7F7;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: auto;
}

.description a:hover {
  border-radius: 40px;
  background: #784d49;
}

.portfolio {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: portfolio;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .project {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: auto;
  width: 100%;
}

.portfolio .project img {
  width: 80%;
  display: block;
  margin: auto;
  height: auto;
}

.portfolio .project .container {
  text-align: center;
}

.portfolio .project .container span {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.portfolio .project .container p {
  font-size: 1.25em;
  margin: 0 0 1em;
}

.portfolio .project .container a {
  padding: 1em;
  margin: 0 1em;
  background: #497478;
  display: inline-block;
  color: #F7F7F7;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portfolio .project .container a:hover {
  border-radius: 40px;
  background: #784d49;
}

.portfolioDesc {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: portfolioDesc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5em;
}

.portfolioDesc .descContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolioDesc .descBox {
  padding: 1em;
  max-width: 50%;
  text-align: center;
}

.portfolioDesc .descBox i {
  font-size: 3em;
  color: #365558;
}

.portfolioDesc .descBox h3 {
  color: #5c9398;
}

.portfolioDesc .descBox p {
  text-align: left;
}

.contactBackground {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
  background-color: #497478;
  min-height: 60vh;
  text-align: center;
  width: 90%;
  margin: 2em auto;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.14);
}

.contactBackground h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  line-height: 15vh;
  color: #F7F7F7;
}

.contactBackground .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.contactBackground .contactForm input, .contactBackground .contactForm textarea {
  background-color: #F7F7F7;
  padding: 1em;
  margin: 1em;
  width: 50%;
  border: none;
  color: #497478;
  font-size: 1em;
  border-radius: 30px;
}

.contactBackground .contactForm input:focus, .contactBackground .contactForm textarea:focus {
  outline: none;
  border: 4px solid #5c9398;
}

.contactBackground .contactForm textarea {
  height: 10em;
  border-radius: 5px;
}

.contactBackground:hover {
  -webkit-box-shadow: 0 16px 20px 10px rgba(0, 0, 0, 0.28);
          box-shadow: 0 16px 20px 10px rgba(0, 0, 0, 0.28);
}

.skillBackground {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: skill;
  width: 90%;
  margin: auto;
  text-align: center;
  min-height: 50vh;
}

.skillBackground h2 {
  color: #497478;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}

.skillBackground .skillGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  height: 100%;
}

.skillBackground .skillGrid .skillContainer {
  text-align: center;
}

.skillBackground .skillGrid .skills {
  padding: 1em;
  margin: 0 0 1em;
}

.skillBackground .skillGrid .skills img {
  height: 96px;
  width: 96px;
}

.skillBackground .skillGrid .skills h3 {
  color: #497478;
}

footer {
  background-color: #497478;
  color: #F7F7F7;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  padding: 2em 0 2em 2em;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  color: #F7F7F7;
  padding: 2em;
  text-decoration: none;
}

footer a:hover {
  background: #F7F7F7;
  color: #497478;
}

@media only screen and (min-width: 2000px) {
  body {
    font-size: .8vw;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -15vh;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 90%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-140vh) rotate(250deg);
              transform: translateY(-140vh) rotate(250deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .pageContainer {
        grid-template-areas: "nav nav nav" "hero hero hero" "desc desc desc" "portfolio portfolio portfolio" "portfolioDesc portfolioDesc portfolioDesc" "skill    skill skill" "contact contact contact" "footer   footer footer";
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -15vh;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 90%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  .contactBackground {
    width: 90%;
  }
  .contactBackground .contactForm input, .contactBackground .contactForm textarea {
    width: 90%;
  }
  .skillBackground {
    width: 90%;
  }
  .skillBackground .skillGrid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .skillBackground .skillGrid .skills img {
    height: 64px;
    width: 64px;
  }
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 16px;
  }
  header #menu-icon {
    display: block;
    width: 50px;
    height: 50px;
    padding-left: 8em;
  }
  header nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 1s;
    transition: 1s;
    overflow-x: hidden;
  }
  header nav a {
    text-decoration: none;
    color: #818181;
    display: block;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header nav ul {
    min-height: 100%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header nav ul a {
    font-size: 2em;
  }
  header nav .closeButton {
    display: block;
    font-size: 5em;
    position: absolute;
    right: 5%;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -15vh;
    -webkit-animation: square 35s infinite 0s;
    animation: square 35s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 28s;
            animation-duration: 28s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 45s;
            animation-duration: 45s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 31s;
            animation-duration: 31s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 90%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-130vh) rotate(250deg);
              transform: translateY(-130vh) rotate(250deg);
    }
  }
  .portfolioDesc {
    margin: 2em;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  .heroImage ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden;
  }
  .heroImage ul li {
    position: absolute;
    list-style: none;
    display: block;
    width: 3em;
    height: 3em;
    background: #699fa4;
    bottom: -15vh;
    -webkit-animation: square 30s infinite 0s;
    animation: square 30s infinite 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .heroImage ul li:nth-child(1) {
    left: 5%;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(2) {
    left: 20%;
    width: 5em;
    height: 5em;
    bottom: -5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-duration: 23s;
            animation-duration: 23s;
  }
  .heroImage ul li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .heroImage ul li:nth-child(4) {
    left: 90%;
    width: 3.75em;
    height: 3.75em;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
  }
  .heroImage ul li:nth-child(5) {
    left: 55%;
  }
  .heroImage ul li:nth-child(6) {
    left: 70%;
    width: 7.5em;
    height: 7.5em;
    bottom: -7.5em;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .heroImage ul li:nth-child(7) {
    left: 32%;
    width: 8.75em;
    height: 8.75em;
    bottom: -8.75em;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .heroImage ul li:nth-child(8) {
    left: 15%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
  }
  .heroImage ul li:nth-child(9) {
    left: 25%;
    width: 25px;
    height: 25px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 26s;
            animation-duration: 26s;
  }
  .heroImage ul li:nth-child(10) {
    left: 80%;
    width: 10em;
    height: 10em;
    bottom: -10em;
    -webkit-animation-delay: 9s;
            animation-delay: 9s;
  }
  .heroImage ul li:nth-child(11) {
    left: 90%;
    width: 8em;
    height: 8em;
    bottom: -8em;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
  }
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-900px) rotate(250deg);
              transform: translateY(-900px) rotate(250deg);
    }
  }
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-900px) rotate(250deg);
              transform: translateY(-900px) rotate(250deg);
    }
  }
  .description .descContainer .descContent {
    margin: 2em 0;
    padding: 1em;
  }
  .portfolio .project .container span {
    font-size: 2.5em;
  }
  .contactBackground {
    width: 100%;
  }
  .contactBackground h2 {
    font-size: 2.5em;
  }
  .skillBackground {
    width: 100%;
  }
  footer {
    padding: 2em 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footerRight {
    margin: 2em 0;
  }
  footer a {
    padding: 1em 1em 0 0;
  }
  footer a:hover {
    background-color: unset;
    color: unset;
  }
}
/*# sourceMappingURL=styles.css.map */