@import url("https://fonts.googleapis.com/css?family=Bitter");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Bitter', sans-serif;
  font-size: 16px;
  background: #F7F7F7;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 10% auto 10%;
      grid-template-columns: 10% auto 10%;
      grid-template-areas: "nav nav nav nav" "hero hero hero hero" "desc desc portfolio portfolio" "contact contact contact contact" "skill    skill     skill skill" "footer   footer   footer footer";
}

.pageContainer .scrollAnchor {
  font-size: 2em;
  text-decoration: none;
  -webkit-animation: wobble 1.7s steps(5, end) infinite;
  animation: wobble 1.7s steps(5, end) infinite;
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  color: #F7F7F7;
}

@-webkit-keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  65% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  75% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  65% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  75% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

.pageContainer .scrollAnchor:hover {
  -webkit-animation: none;
          animation: none;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  padding: 2rem 0rem;
  z-index: 3;
  position: absolute;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: black;
}

header #menu-icon {
  display: none;
  background-color: #f9f9f9;
  z-index: 1;
  background: url("../Images/Hamburger.png") center;
  background-size: contain;
  background-repeat: no-repeat;
}

header nav .closebutton {
  display: none;
}

header nav li, header nav ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul a {
  text-decoration: none;
  padding: 2rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
  font-size: 1.3em;
  -webkit-transition: font-size 1s;
  transition: font-size 1s;
}

header nav ul a:hover {
  font-size: 1.5rem;
}

.heroImage {
  height: 70vh;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: hero;
  background-color: #7fb0a6;
  z-index: 2;
}

.heroImage .overViewBackground {
  grid-area: overView;
}

.heroImage .overViewBackground .overView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.heroImage .overViewBackground .overViewHeader {
  font-size: 6rem;
}

.heroImage .overViewBackground .overViewContent {
  font-size: 2rem;
  font-style: italic;
  font-weight: 100;
}

.description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
  color: #7fb0a6;
  font-weight: 500;
  min-height: 70vh;
}

.description h1 {
  font-size: 3.5em;
  font-weight: bolder;
}

.description p {
  font-size: 1.5rem;
  color: #333;
  font-weight: 200;
}

.description .descContainer {
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description .descContainer .descContent {
  padding: 2rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  background: #fff;
  -webkit-box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
  min-height: 40vh;
  margin: 5rem;
}

.description .descContainer .descContent p:nth-child(3) {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 100;
}

.description .descContainer .descContent:nth-child(2) {
  grid-area: Skills;
}

.portfolio {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: portfolio;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .project {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: auto;
  width: 80%;
  height: 70%;
}

.portfolio .project img {
  padding: 2em;
  display: block;
  width: 100%;
  height: auto;
}

.portfolio .project .container {
  text-align: center;
}

.portfolio .project .container span {
  color: #7fb0a6;
  font-size: 3.5em;
  font-weight: 900;
}

.portfolio .project .container p {
  color: #333333;
  font-size: 20px;
}

.portfolio .project .container button {
  border: none;
  padding: 1em;
  margin: .5em;
  background: #7fb0a6;
  font-size: 100%;
  -webkit-box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 30px 2px rgba(0, 0, 0, 0.14);
}

.portfolio .project .container button a {
  color: #fff;
  text-decoration: none;
}

.contactBackground {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contact;
  background-color: #7fb0a6;
  height: 60vh;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 21%, 100% 82%, 0% 100%);
  clip-path: polygon(0 0, 100% 21%, 100% 82%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactBackground input, .contactBackground textarea {
  background-color: #F7F7F7;
  padding: 1em;
  margin: 1em;
  border: none;
}

.skillBackground {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: skill;
}

.skillBackground .skillGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2em;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  width: 75%;
  margin: auto;
  background: url("../Images/tiny_grid.png");
  -webkit-box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.14);
          box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.14);
  min-height: 100vh;
}

.skillBackground .skillGrid .skillContainer {
  text-align: center;
}

.skillBackground .skillGrid .skills {
  padding: 2em;
}

.skillBackground .skillGrid .skills img {
  height: 96px;
  width: 96px;
}

.skillBackground .skillGrid .skills h3 {
  color: #7fb0a6;
}

.skillBackground .skillGrid #moreAbove {
  bottom: 5%;
  color: #000000;
}

footer {
  background: #202020;
  color: #7fb0a6;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  padding: 2em 0em;
}

footer .ft-left {
  float: left;
  width: 100%;
}

footer .ft-left .ft-right {
  float: right;
}

footer a {
  color: #7fb0a6;
  padding: 2em;
  text-decoration: none;
}

@media only screen and (min-width: 2000px) {
  body {
    font-size: 1vw;
  }
  header {
    padding: 2em 0em;
  }
  header nav a {
    padding: 2em;
  }
  header nav a:hover {
    font-size: 1.5em;
  }
  .overViewBackground .overViewHeader {
    font-size: 5em;
  }
  .overViewBackground .overViewContent {
    font-size: 2em;
  }
  .description h1 {
    font-size: 3.5em;
  }
  .description p {
    font-size: 1.5em;
  }
  .description .descContainer {
    padding: 2em;
  }
  .description .descContainer .descContent {
    padding: 2em;
    min-height: 50vh;
    margin: 4rem;
  }
  .description .descContainer .descContent p:nth-child(3) {
    font-size: 1em;
    line-height: 2em;
  }
  .portfolio .project .container span {
    font-size: 3.5em;
  }
  .portfolio .project .container p {
    font-size: 1.25em;
  }
  .skillBackground .skillGrid .skills {
    padding: 2em;
  }
  .skillBackground .skillGrid .skills img {
    height: 120px;
    width: 120px;
  }
  footer img {
    height: 96px;
    width: 96px;
  }
}

@media only screen and (max-width: 1600px) {
  body {
    font-size: 16px;
  }
  .overViewBackground .overViewHeader {
    font-size: 5em;
  }
  .overViewBackground .overViewContent {
    font-size: 2em;
  }
  .description h1 {
    font-size: 3.5em;
  }
  .description p {
    font-size: 1.5em;
  }
  .description .descContainer .descContent {
    margin: 3em;
    min-height: 50vh;
  }
  .description .descContainer .descContent p:nth-child(3) {
    line-height: 2rem;
  }
  .portfolio .project {
    height: 70%;
    width: 100%;
  }
  .portfolio .project .container p {
    color: #333333;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .heroImage {
    height: 100vh;
  }
  .heroImage .overViewBackground .overView {
    height: 100vh;
  }
  .pageContainer {
        grid-template-areas: "nav nav nav" "hero hero hero" "desc desc desc" "portfolio portfolio portfolio" "contact contact contact" "skill    skill skill" "footer   footer footer";
  }
  .description h1 {
    font-size: 3.5em;
  }
  .description p {
    font-size: 1.5em;
  }
  .description .descContainer {
    padding: 1.5rem;
    text-align: center;
  }
  .description .descContainer .descContent {
    padding: 1.5rem;
    margin: 3rem;
  }
  .description .descContainer .descContent p:nth-child(3) {
    line-height: 2rem;
  }
  .portfolio .project {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 70%;
    margin: auto;
    height: 70%;
  }
  .portfolio .project .container {
    padding: 3em;
  }
  .portfolio .project .container span {
    font-size: 3.5em;
  }
  .contactBackground {
    -webkit-clip-path: none;
    clip-path: none;
  }
  .contactBackground input, .contactBackground textarea {
    padding: .5em;
    margin-top: .5em;
  }
  .skillBackground .skillGrid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    width: 90%;
  }
  .skillBackground .skillGrid .skills img {
    height: 64px;
    width: 64px;
  }
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 13px;
  }
  header #menu-icon {
    display: block;
    width: 50px;
    height: 50px;
    padding-left: 8em;
  }
  header nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    overflow-x: hidden;
  }
  header nav a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: #818181;
    display: block;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header nav ul {
    position: relative;
    display: block;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  header nav ul a {
    font-size: 2em;
  }
  header nav ul a:hover {
    font-size: 2.5em;
  }
  header nav .closebutton {
    display: block;
    font-size: 5em;
    position: absolute;
    right: 5%;
  }
  .heroImage .overViewBackground .overViewHeader {
    font-size: 5em;
  }
  .heroImage .overViewBackground .overViewContent {
    font-size: 1.5em;
  }
  .description .descContainer {
    padding: 1rem;
  }
  .description .descContainer .descContent {
    margin: 2rem;
    min-height: 400px;
  }
  .description .descContainer .descContent p:nth-child(3) {
    text-align: initial;
  }
  .description .descContainer .skillGrid .skillContainer {
    margin: auto;
    width: 100%;
  }
  .description .descContainer .skillGrid .skills img {
    height: 80px;
    width: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .heroImage .overViewBackground .overViewHeader {
    font-size: 4em;
  }
  .heroImage .overViewBackground .overViewContent {
    font-size: 1.5em;
  }
  .description .descContainer {
    padding: 0;
  }
  .description .descContainer .descContent {
    margin: 5rem 0;
    border-radius: 0%;
  }
  .portfolio .project {
    width: 100%;
  }
  .portfolio .project .container {
    padding: 3em 0;
  }
  .portfolio .project .container span {
    font-size: 3em;
  }
  .skillBackground .skillGrid {
    width: 100%;
  }
  footer {
    padding: 2em 0em;
  }
  footer a {
    padding: .5em;
    text-decoration: none;
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
  }
}
/*# sourceMappingURL=styles.css.map */