$primaryColor: #eae7dc;
$secondaryColor: #7fb0a6;
$tertiaryColor: #000000;
// the next ones quaternary if you were curious but i thought that might be confusing so im just using fourth.
$fourthColor: #202020;

@mixin scrollAnchor() {
	font-size: 2em;
	text-decoration: none;
	-webkit-animation: wobble 1.7s steps(5, end) infinite;
			animation: wobble 1.7s steps(5, end) infinite;
	position: absolute;
	bottom: 5%;
	right: 5%;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	margin: 0 auto;
	color: $primaryColor;

	@-webkit-keyframes wobble {
		0%,
		100% {
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
				transform: translateX(-30px) rotate(-6deg);
		}
		30% {
		-webkit-transform: translateX(15px) rotate(6deg);
				transform: translateX(15px) rotate(6deg);
		}
		45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
				transform: translateX(-15px) rotate(-3.6deg);
		}
		65% {
			-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		75% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}
	}
	
	@keyframes wobble {
		0%,
		100% {
		-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
		15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
				transform: translateX(-30px) rotate(-6deg);
		}
		30% {
		-webkit-transform: translateX(15px) rotate(6deg);
				transform: translateX(15px) rotate(6deg);
		}
		45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
				transform: translateX(-15px) rotate(-3.6deg);
		}
		65% {
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}
		75% {
			-webkit-transform: translateX(0%);
				transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		}
	}

	&:hover{
		animation: none;
	}
	
}

@import url('https://fonts.googleapis.com/css?family=Bitter');

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body,html{
	height:100%;
}

body{
	position: relative;
	font-family: 'Bitter', sans-serif;
	font-size: 16px;
	background: #F7F7F7;
}

.pageContainer {
	display: grid;
	position: relative;
	grid-template-columns: 10% auto 10%;
	grid-template-areas:
		 "nav nav nav "
		 "hero hero hero"
		 "desc desc desc"
		 "portfolio portfolio portfolio  "
		 "skill    skill     skill"
		 "footer   footer   footer";
	
	.scrollAnchor{
		@include scrollAnchor();
	}
}

header{
	grid-area: nav;
	padding: 2rem 0rem;
	z-index: 3;
	position: absolute;
	-webkit-text-stroke-width: 0;
	   -webkit-text-stroke-color: black;

	#menu-icon {
		display: none;
		background-color: #f9f9f9;
		z-index: 1;
		background: url("../Images/Hamburger.png") center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	nav{
		
		.closebutton{
			display: none;
		} 

		li, ul{
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul{
			a{
				text-decoration: none;
				padding: 2rem;
				color: #fff;
				text-shadow: 1px 1px 1px #000;
				font-weight: 900;
				font-size: 1.3em;
				transition: font-size 1s;
			}

			a:hover{
				font-size: 1.5rem;
			}
		}
			
	}
}

// Contains overview and hero image section.
.heroImage{
	height: 100vh;
	position: relative;
	grid-area: hero;
	background: url(../Images/Blue.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	
	.overViewBackground{
		grid-area: overView;
		
		.overView{
			display: flex;
			flex-direction:column;
			justify-content: center;	
			text-align: center;
			background-attachment: fixed;
			height: 100vh;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
			background: rgba(0, 0, 0, 0.3);	
		}

		.overViewHeader{
			font-size: 6rem;
		}

		.overViewContent{
			font-size: 2rem;
			font-style: italic;
			font-weight: 100;
		}
	}
}

.description{
	grid-area: desc;
	color: $secondaryColor;
	font-weight: 500;
	min-height: 70vh;
	
	h1{
		text-shadow: 1px 1px 1px #000;
		font-size: 3.5em;
		font-weight: 900;
	}
	
	p{
		font-size: 1.5rem;
		color: #333;
	}

	.descContainer{
		padding: 2rem;
		display: grid;
		grid-template-areas: 
		"Content . Skills ";

		.descContent{
			padding: 2rem;
			grid-area: Content;
			display: grid;
			border-radius: 2%;
			background: #fff;
			box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.14);
			min-height: 40vh;
			margin: 5rem;

			p:nth-child(3){
				font-size: 1rem;
				line-height: 2rem;
				font-weight: 100;
			}
		}	

		.descContent:nth-child(2){
			grid-area: Skills;
		}

		.skillGrid{
			display: grid;
			grid-template-columns: auto auto auto ;
			
			.skills {
				height: 84px;
				width: 84px;
				img {
					width: 100%;
					height: 100%;
				}
		
				h3{
					color: #444444;
					text-align: center;
				}
			}
		}
	}
}

.portfolio{
	grid-area: portfolio;
	min-height: 70vh;
	
	.project{
		transition: 0.3s;
		width: 50%;
		margin: auto;
		height: 70%;

		img{
			display: block;
			width: 100%;
			height: auto;
		}
		
		.container{
			text-align: center;
			padding: 3em;

			a{
				text-decoration: none;
				color: $secondaryColor;
				text-shadow: 1px 1px 1px #000;
				font-size: 3.5em;
				font-weight: 900;
			}

			p{
				color: #333333;
				font-size: 20px;
			}
		}
		
	}
}

.skillBackground{
	grid-area: skill;

	.skillGrid{
		display: grid;
		grid-gap: 2em;
		grid-template-columns: auto auto auto auto;
		padding-top: 0 2em;
		width: 75%;
		margin: auto;
		border-radius: 1%;
		background: url("../Images/tiny_grid.png");
		box-shadow: 0 8px 30px 5px rgba(0, 0, 0, 0.14);
		min-height: 100vh;

		.skillContainer{
			text-align: center;
		}

		.skills {
			padding: 2em;
			
			img {
				height: 96px;
				width: 96px;
			}

			h3{
				color: $secondaryColor;
				text-shadow: 1px 1px 1px #000;
			}
		}

		#moreAbove{
			bottom: 5%;
			color: #000000;
		}	
	}
}

footer{
	background: $fourthColor;
	color: $secondaryColor;
	grid-area: footer;
	padding: 2em 0em;

	img{
		height: 96px;
		width: 96px;
	}
	
	.ft-left{
		float: left;
		width: 100%;
		
		.ft-right{
			float: right; 
		}
	}
	
	a{
		color: $secondaryColor;
		padding: 2em;
		text-decoration: none;
	}
}

@media only screen and (min-width: 2000px){
	body{
		font-size: 1vw;
	}

	header{
		padding: 2em 0em;
		nav{
			a{
				padding: 2em;
			}
	
			a:hover{
				font-size: 1.5em;
			}
		}
	}
	
	.overViewBackground{
		.overViewHeader{
			font-size: 5em;
		}
	
		.overViewContent{
			font-size: 2em;
		}
	}
	
	.description{
		h1{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			padding: 2em;
	
			.descContent{
				padding: 2em;
				min-height: 50vh;
				margin: 4rem;
	
				p:nth-child(3){
					font-size: 1em;
					line-height: 2em;
				}
			}

			.skillGrid{
				.skills {
					height: 100px;
					width: 100px;
				}
			}
		}
	}
	
	.portfolio{
		.project{
			img{
				width: 1200px;
				height: 896px;
			}

			.container{
				padding: 3em;

				a{
					text-shadow: 1px 1px 1px #000;
					font-size: 3.5em;
				}
	
				p{
					font-size: 1.25em;
				}
			}
		}
	}
	
	
	.skillBackground{
		.skillGrid{
			.skills {
				padding: 2em;
				
				img {
					height: 120px;
					width: 120px;
				}
			}
		}
	}

	footer{
		img{
			height: 96px;
			width: 96px;
		}
		
		a:hover{
			font-size: 1.5em;
		}
	}
}

@media only screen and (max-width: 1600px){
	
	body{
		font-size: 16px;
	}

	.overViewBackground{
		.overViewHeader{
			font-size: 5em;
		}
	
		.overViewContent{
			font-size: 2em;
		}
	}
	
	.description{
		h1{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			padding: 1.5rem;

			.descContent{
				padding: 1.5rem;
				min-height: 500px;
				margin: 3rem;
	
				p:nth-child(3){
					line-height: 2rem;
				}
			}
		}
	}
	
	.portfolio{
		grid-area: portfolio;
		
		.project{
			height: 70%;
			.container{
				padding: 3em;
				p{
					color: #333333;
					font-size: 20px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1224px){
	body{
		font-size: 16px;
	}
	
	.description{
		h1{
			font-size: 3.5em;
		}
		
		p{
			font-size: 1.5em;
		}
	
		.descContainer{
			padding: 1.5rem;
			grid-template-areas: 
			"Content"
			"Skills ";
			text-align: center;

			.descContent{
				padding: 1.5rem;
				margin: 3rem;
				min-height: 45vh;

				p:nth-child(3){
					line-height: 2rem;
				}
			}

			.skillGrid{
				.skillContainer{
					margin: auto;
					width: 50%;
				}
				.skills {
					height: 108px;
					width: 108px;
				}
			}
		}
	}
	
	.portfolio{
		.project{
			transition: 0.3s;
			width: 70%;
			margin: auto;
			height: 70%;
			.container{
				padding: 3em;
				a{
					font-size: 3.5em;
				}
			}
		}
	}

	.skillBackground{
		.skillGrid{
			grid-template-columns: auto auto;
			width: 90%;

			.skills {
				img {
					height: 64px;
					width: 64px;
				}
			}
		}
	}
	
}

@media only screen and (max-width: 780px){
	body{
		font-size: 13px;
	}
	
	header{
		#menu-icon {
			display:block;
			width: 50px;
			height: 50px;
			padding-left: 8em;
		}

		nav{
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 4;
			top: 0;
			background-color: rgba(0,0,0, 0.9);
			transition: 0.7s;
			overflow-x: hidden;
			
			a{
				padding: 1rem 2rem;
				text-decoration: none;
				color: #818181;
				display: block;
				transition: 0.7s;
			}

			ul{
				position: relative;
				top: 40%;
				width: 100%;
				text-align: center;
				margin-top: 30px;

				a{
					font-size: 2em;
				}

				a:hover{
					font-size: 2.5em;
				}
			}
			
			.closebutton{
				display: block;
				font-size: 5em;
				position: absolute;
				right: 5%;
			}
		}
	}
	

	.heroImage{
		.overViewBackground{
			.overViewHeader{
				font-size: 5em;
			}
		
			.overViewContent{
				font-size: 1.5em;
			}
		}
	}

	.description{
		.descContainer{
			padding: 1rem;
			.descContent{
				margin: 2rem;
				min-height: 400px;
				p:nth-child(3){
					text-align: initial;
				}
			}

			.skillGrid{
				.skillContainer{
					margin: auto;
					width: 100%;
				}
				.skills {
					img{
						height:80px;
						width: 80px;
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 500px){
	.heroImage{
		.overViewBackground{
			.overViewHeader{
				font-size: 4em;
			}
		
			.overViewContent{
				font-size: 1.5em;
			}
		}
	}

	.description{
		.descContainer{
			padding: 0;

			.descContent{
				margin: 5rem 0;
				border-radius: 0%;
			}
		}
	}

	.portfolio{
		.project{
			.container{
				padding: 3em 0;
				a{
					font-size: 3em;
				}
			}
		}
	}

	.skillBackground{
		.skillGrid{
			width: 100%;
			border-radius: 0%;
		}
	}

	footer{
		padding: 2em 0em;

		a{
			padding: .5em;
			text-decoration: none;
			transition: font-size 1s;	
		}
	}	
}